<div class="alert alert-warning mt-4 d-flex align-items-center text-blue" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <strong>@Mensagem</strong>
</div>


@code {
    [Parameter]
    public string Mensagem { get; set; } = string.Empty;
}