@page "/bind"
@rendermode InteractiveServer

<h4>Bind - Exemplo com campo(fild) e Propiedade(Property)</h4>

<p><label>Campo: <input @bind="campo"/></label></p>

<p><label>Campo: <input @bind="Propiedade"/></label></p>

<ul>
    <li><code>Campo</code>: @campo</li>
    <li><code>Propiedade</code>: @Propiedade</li>
</ul>


@code {
    private string?campo;
    private string? Propiedade { get; set;  }
}