@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Data Binding!</h1>

<p>
    No Blazor, o One-Way Data Binding (vinculação de dados unidirecional) é o processo onde a informação flui em apenas uma direção: do código C# (Logística/Estado) para o HTML (Interface).

    Basicamente, quando o valor de uma variável no seu componente muda, o Blazor atualiza automaticamente o que o usuário vê na tela. No entanto, o contrário não acontece: se o usuário digitar algo em um campo, a variável no C# não será alterada sozinha.
    
</p>